.about {
    height: auto;
}

.about .text-wrapper {
    display: inline-flex;
    padding: 2em 0;
    flex-wrap: wrap;
    margin: 3em auto;
    width: 90%;
}

.about p {
    font-size: 1.2em;
    color: grey;
    margin: 5em 5em;
    text-align: left;
    line-height: 2em;
    width: 40%;
}

.circle-bts {
    width: 100%;
    margin: 5% 3%;
}

.about img {
    height: 100%;
    min-width: 75px;
    margin: 2em 0;
    width: 35%;
}

.about strong {
    color: green;
}

.about i,
.download-cv {
    color: white;
    margin: 0 1em;
    background-color: rgb(56, 53, 53);
    padding: 1em;
}

.about i {
    border-radius: 50% 50%;
}

.download-cv {
    border-radius: 2em;
    padding-right: 2em;
}

.download-cv i {
    margin-left: -0.5em;
}


/* MEDIAQUERIES */

@media (max-width: 937px) {
    .about .text-wrapper {
        margin: 0;
    }
    .about img {
        float: right;
        width: 50%;
        margin-left: 5em;
    }
    .about p {
        width: 70%;
        margin: 1em 1em;
        padding: 0;
    }
}

@media (max-width: 580px) {
    .circle-bts a:nth-child(n + 2) {
        display: none;
    }
}

@media (max-width: 276px) {
    .download-cv,
    .download-cv i {
        margin: 0;
        background: none;
    }
}


/* ARROW */

.scroll-section {
    /* width: 100%; */
    position: fixed;
    bottom: 8%;
    left: 50%;
    right: 50%;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in 5s;
    transition: all 0.5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    animation: bounce 2s infinite 2s;
    transition: all 0.2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}