.about p {
    font-size: 1.2em;
    color: grey;
    margin: 5em 5em;
}

.about strong {
    color: green;
}

.about i,
.download-cv {
    color: white;
    margin: 0 1em;
    background-color: rgb(56, 53, 53);
    padding: 1em;
}

.about i {
    border-radius: 50% 50%;
}

.download-cv {
    border-radius: 2em;
    /* border: solid 2px green; */
    padding-right: 2em;
}

.download-cv i {
    margin-left: -0.5em;
    /* border: solid 2px red; */
}