.about {
    height: auto;
}

.about .text-wrapper {
    display: inline-flex;
    padding: 2em 0;
    flex-wrap: wrap;
    margin: 3em auto;
    width: 90%;
}

.about p {
    font-size: 1.2em;
    color: grey;
    margin: 5em 5em;
    text-align: left;
    line-height: 2em;
    width: 40%;
}

.circle-bts {
    width: 100%;
    margin: 5% 3%;
}

.about img {
    height: 100%;
    min-width: 75px;
    margin: 2em 0;
    width: 35%;
}

.about strong {
    color: green;
}

.about i,
.download-cv {
    color: white;
    margin: 0 1em;
    background-color: rgb(56, 53, 53);
    padding: 1em;
}

.about i {
    border-radius: 50% 50%;
}

.download-cv {
    border-radius: 2em;
    /* border: solid 2px green; */
    padding-right: 2em;
}

.download-cv i {
    margin-left: -0.5em;
    /* border: solid 2px red; */
}


/* MEDIAQUERIES */

@media (max-width: 937px) {
    .about .text-wrapper {
        margin: 0;
    }
    .about img {
        float: right;
        width: 50%;
        margin-left: 5em;
    }
    .about p {
        width: 70%;
        margin: 1em 1em;
        padding: 0;
    }
}

@media (max-width: 597px) {
    /* .circle-bts {
        font-size: 0.6rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        width: 20em;
        margin: 0 auto;
    } */
    .circle-bts a:nth-child(n + 2) {
        display: none;
    }
}