html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    transition: all 0.4s ease 0s;
}

.page {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(32, 31, 31);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23272727' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: white;
    text-align: center;
    font-family: Poppins;
}

section {
    height: 100vh;
    min-height: 600px;
    margin-left: 5em;
}

li {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
i:hover,
i:focus,
.fab:hover,
li:focus {
    color: green;
}

i:active {
    color: green;
}

.title-bg {
    overflow: hidden;
    left: 0;
    width: 100%;
    font-size: calc(45px + (150 - 45) * ((100vw - 300px) / (1600 - 300)));
    line-height: 120px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0.05;
}

@media (max-width: 700px) {
    section {
        width: 100%;
        margin: 0 auto 0 0em;
    }
}

.resume .title,
.skills .title,
.contacts .title {
    text-align: left;
    margin: 0 7%;
    font-weight: 600;
    font-size: 1.5rem;
}