.wrapper {
    margin: 0 auto;
    transition: all 0.4s ease 0s;
}

html {
    scroll-behavior: smooth;
}

.page {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(32, 31, 31);
    color: white;
    text-align: center;
    font-family: Poppins;
}

section {
    height: 100vh;
    border: solid 2px red;
    margin-left: 5em;
}

li {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
}

.title-bg {
    overflow: hidden;
    left: 0;
    /* top: -50px; */
    width: 100%;
    font-size: 120px;
    line-height: 120px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0.05;
}