.work-item .button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 20vw;
    padding: 1em;
    gap: 3em;
}

.button,
.button-reset {
    cursor: pointer;
}

.button-container a {
    color: rgb(16, 48, 16);
    font-size: 1.1rem;
    justify-content: center;
}

.button-container p {
    margin: 1rem;
}

.btn-grad {
    background-image: linear-gradient( to bottom, #d2d7db 13%, #807e7e 50%, #212222 90%);
    width: fit-content;
    min-width: 7em;
    padding: 0.7rem 1rem;
    text-align: center;
    transition: 0.2s;
    text-shadow: 0px 1px 1px #cac7c7;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.btn-grad:active,
.btn-grad:focus {
    transform: scale(0.95);
    box-shadow: 4px 4px 4px #000000;
}

@media (max-width: 600px) {
    .work-item .button-container {
        width: 50vw;
        flex-wrap: wrap;
        gap: 1rem;
    }
}