    .contacts {
        height: auto;
    }
    
    a {
        text-decoration: none;
        color: whitesmoke;
    }
    
    h3 {
        margin: 0 auto 0.7em;
    }
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 2em 0;
    }
    
    .contact-item {
        margin-left: 25%;
        height: 4em;
    }
    
    .contact-items p {
        text-align: left;
        margin: 0 0 0 15%;
        font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
        line-height: 1.5em;
    }
    
    .contact-element {
        background-color: rgb(48, 47, 47);
        border-radius: 2em;
        padding: 1.2em 0;
        margin: 1em;
        width: 100%;
    }
    
    .contact-element,
    .contact-form {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    .contact-info span {
        color: green;
    }
    
    .contact-info {
        padding: 1em 3em;
    }
    
    .contacts i {
        color: green;
        font-size: 3.5rem;
        float: left;
        padding-left: 0.5em;
    }
    /* // CONTACT FORM  */
    
    @media (max-width: 500px) {
        form {
            flex-direction: column;
        }
        form input {
            width: 100%;
        }
    }
    
    .contact-form {
        margin: 3em auto;
        background-color: rgb(48, 47, 47);
        border-radius: 2em;
        padding: 2em;
        width: 97%;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    label {
        text-align: center;
    }
    
    .form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .input-wrapper {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .input-wrapper .form-element {
        width: 100%;
    }
    
    .input-wrapper input {
        height: 5em;
    }
    
    form textarea,
    input {
        width: 100%;
        border: white;
        padding: 1em;
        margin: 2em 0;
        border-radius: 1em;
    }
    
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 10em;
        resize: none;
    }
    /* icons, buttons and decorations */
    
    .contacts .button-container {
        width: 100%;
    }
    
    .contacts .button,
    .button i,
    .button-reset {
        font-size: 1.2rem;
        float: none;
        background: none;
        border: 1px;
    }
    
    .button-reset {
        width: 6em;
        padding: 1em;
        color: rgb(248, 160, 178);
    }
    
    .button-reset:hover,
    .button-reset:focus {
        color: red;
        font-weight: 800;
    }
    
    .contacts .button:hover>span,
    .contacts .button:focus {
        color: white;
        font-weight: 700;
        text-shadow: 1px 1px 1px grey;
    }
    
    .form-wrapper input[type="text"],
    .form-wrapper input[type="email"],
    .form-wrapper textarea {
        background-color: grey;
    }
    
     ::placeholder {
        color: #faf8f8;
    }
    
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        background-color: rgb(138, 90, 1);
    }
    /* MEDIAQUERIES */
    
    @media (max-width: 960px) {
        .contact-wrapper {
            display: block;
            padding: 2em 0;
        }
        .input-wrapper {
            flex-direction: column;
            gap: 0;
        }
        .input-wrapper input {
            width: 100%;
            height: 3rem;
        }
    }
    
    @media (max-width: 400px) {
        .contact-info {
            padding: 1em;
            margin: 0 auto;
        }
        .contact-wrapper {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .contact-element,
        .contact-item {
            padding: 0.1em;
            text-align: center;
            margin: 1em 0;
        }
        .contact-element i {
            font-size: 2rem;
            margin: 0.5em 0.5em;
        }
        form textarea,
        input {
            border-radius: 6px;
            margin: 0.8em 0 2em;
        }
    }