/*  HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #181818;
    width: 4em;
    margin: 0 auto;
}

.main-menu li,
.social i {
    font-size: 1em;
    z-index: 11;
}

header .logo a,
.icon,
.social a,
.link {
    color: #ffffff;
}

.logo {
    background-color: #008000;
    height: 2em;
    font-size: 2rem;
    text-align: center;
    padding: 0.5em;
}

.main-menu {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    z-index: 10;
}

.main-menu li {
    margin: 1.5em 2em 1em -1.2em;
    margin-bottom: 0.5em;
    position: relative;
}

.link {
    opacity: 0;
    height: 2em;
    position: absolute;
    top: 0.2em;
    text-decoration: none;
    color: #ffffff;
}

span {
    text-align: left;
}

.active-nav .link,
a:hover>.link {
    opacity: 1;
    transition: all 0.5s;
    display: inline;
    left: 2.7em;
    padding: 0.4em 0.5em 0.5em;
    border-radius: 0 1em 1em 0;
    width: 6em;
}

.active-nav .link {
    background-color: #008000;
}

.active-nav i {
    color: #008000;
}

@media (max-width: 700px) {
    a:hover>.link,
    .active-nav .link {
        display: none;
    }
    header {
        left: 0 !important
    }
}


/*  SOCIAL */

.social {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1em 0.8em 0 0.7em;
}

.social li {
    margin-top: 2em;
}