.text-wrapper {
    width: 100%;
}

.home .title h1 {
    /* font-size: 6rem; */
    font-size: calc(34px + (130 - 34) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    font-weight: 700;
    padding: calc((80vh / 2)) 0 0.5em;
    letter-spacing: 0.04em;
}

.home span {
    color: rgb(155, 152, 152);
}