.resume {
    height: auto;
}

.skills {
    height: 100vh;
    padding: 3em 0 10em;
}

.resume-items,
.skills-list {
    background-color: rgb(48, 47, 47);
    margin: 0 10%;
    border-radius: 2em;
    padding: 2em;
}

.resume-item,
.resume .title,
.skills .title {
    text-align: left;
    padding: 2em 2em;
}

.resume-item:nth-child(n + 2),
.skills-list li:nth-child(n + 2) {
    border-top: solid 1px rgb(139, 139, 139);
}

.resume .title,
.skills .title {
    text-align: left;
    margin: 0 7%;
    font-weight: 600;
    font-size: 1.5rem;
}

.resume .title span,
.skills .title span {
    color: green;
}

.resume .name,
.skills-list .name {
    font-weight: 600;
}

.resume .date {
    font-size: 0.8rem;
    margin-top: 0.6em;
}

.resume .date,
.resume p {
    color: grey;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 150px;
}

.skills-wrapper {
    width: 50%;
    min-width: 350px;
}

@media (max-width: 780px) {
    .skills-wrapper {
        width: 100%;
    }
}

.skills-list {
    flex-direction: column;
    text-align: left;
    justify-content: center;
    display: flex;
}

.skills-list ul {
    padding: 0.5em 1em;
}

.skills-list li {
    padding: 1em;
}