#toggle {
    display: none;
}

.main-menu {
    position: relative;
}

.fa-bars {
    visibility: hidden;
    position: fixed;
    top: 0.5em;
    right: 1em;
}

@media (max-width: 700px) {
    .fa-bars {
        visibility: visible;
        font-size: 1.5rem;
    }
    .fa-bars,
    .toggle-menu ul i {
        text-shadow: 4px 4px 4px black;
    }
    header,
    .social {
        position: relative;
        display: inline;
        background: none;
    }
    .logo {
        width: 10%;
        font-size: 1rem;
    }
    header .main-menu ul {
        position: fixed;
        top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
    }
    .toggle-menu ul i {
        display: none;
    }
    #toggle {
        display: block;
        height: 10em;
        opacity: 0;
        position: fixed;
        top: -1em;
        right: -15em;
    }
    #toggle:checked~ul i {
        display: block;
        text-align: center;
    }
    .social ul {
        position: fixed;
        background: green;
        height: 13em;
        border-radius: 0 2em 2em 0;
        margin: 0;
        bottom: 15%;
        left: 0;
    }
    .social i:hover {
        font-weight: 800;
        color: salmon;
    }
}