.works {
    height: auto;
    /* margin-bottom: 8em; */
    margin-top: 1em;
}

.works .title {
    text-align: left;
    margin: 0 7%;
    font-weight: 600;
    font-size: 1.5rem;
}

.works span {
    color: green;
}

.work-item {
    background-color: rgb(48, 47, 47);
    margin: 5%;
    border-radius: 2em;
    padding: 2em;
    /* width: 50%; */
    display: flex;
    justify-content: space-evenly;
}

.work-item h3 {
    width: 90%;
    font-size: 1.5rem;
}

.work-item a {
    width: 80%;
}

.work-item p {
    width: 70%;
    margin: 2em auto;
    line-height: 2em;
}

.work-item img {
    width: 100%;
    border-radius: 1em;
}

.work-item ul li {
    display: inline-flex;
    flex-direction: row;
    width: 15%;
    padding: 10% 0 0;
}

.works img:hover {
    transform: scale(1.025);
    transition: all 0.3s;
    box-shadow: 5px 5px 5px black;
}

@media (max-width: 500px) {
    .work-item {
        flex-direction: column;
        justify-content: center;
    }
    .work-item a {
        width: 100%;
        order: 1;
    }
    .works ul {
        text-align: center;
        width: 100%;
        padding: 0;
    }
}