.works {
    height: auto;
    padding-bottom: 3em;
}

.works .title {
    text-align: left;
    margin: 0 7%;
    font-weight: 600;
    font-size: 1.5rem;
}

.works span {
    color: green;
}

.work-item {
    background-color: rgb(48, 47, 47);
    margin: 10% 5%;
    border-radius: 2em;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.work-item h3 {
    margin-top: 1em;
    width: 90%;
    font-size: 1.5rem;
}

.work-item a {
    width: 80%;
}

.work-item p {
    width: 70%;
    min-width: 100px;
    margin: 2em auto;
    line-height: 2em;
}

.work-item img {
    width: 100%;
    height: auto;
    border-radius: 1em 0;
}

.work-item ul img {
    width: 6em;
    height: 6em;
    padding: 0.5em;
}

.work-item ul li {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    padding: 10% 0 0;
}

.work-item a img:hover {
    box-shadow: 5px 5px 5px black;
}

@media (max-width: 800px) {
    .works-wrapper {
        margin: 0 1em;
    }
    .work-item {
        flex-direction: column;
        justify-content: center;
    }
    .work-item a {
        width: 100%;
        order: 1;
    }
    .work-item ul img {
        width: 4em;
        height: 4em;
        flex-wrap: nowrap;
    }
    .works ul {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .work-item p {
        width: 100%;
        margin: 0 auto;
        line-height: 2em;
    }
    .work-item img {
        border-radius: 0 0 1em 1em;
    }
}

@media (max-width: 400px) {
    .work-item {
        padding: 1em 0.5em;
    }
}

.smooth-section {
    transform: translateY(1.5em) scale(0.8);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .5s .25s ease-out;
    will-change: transform;
    opacity: 0;
    z-index: -2;
    /* position: relative; */
}

.smooth-section.is-visible {
    transform: translateY(0) scale(1);
    opacity: 1;
}